<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <header></header>
    <main>
      <% if (!user) { %>
      <section class="log-in-section">
        <form action="/" method="POST">
          <div class="form-group">
            <label for="username">Username: </label>
            <input type="text" name="username" id="username" />
          </div>
          <div class="password">
            <label for="password">Password: </label>
            <input
              type="password"
              name="password"
              id="password"
              autocomplete="off"
            />
          </div>
          <div class="button-container">
            <button type="submit">Submit</button>
          </div>
        </form>
      </section>
      <% } else { %>
      <section class="welcome-section">
        <h3>Welcome Back <%= user.username %></h3>
      </section>
      <% } %>
    </main>
    <footer></footer>
  </body>
</html>
